.add-todo-form__container {
  width: 40%;
  border: 1px solid #000;
  padding: 1rem 2.5rem;

  .add-todo-form__title {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 801px) {
  .add-todo-form__container {
    width: 100%;
  }
}
